In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

from pydataset import data

In [5]:
url = "https://gist.githubusercontent.com/ryanorsinger/19bc7eccd6279661bd13307026628ace/raw/e4b5d6787015a4782f96cad6d1d62a8bdbac54c7/lemonade.csv"
df = pd.read_csv(url)

In [6]:
df.head(1)

     Date     Day  Temperature  Rainfall  Flyers  Price  Sales
0  1/1/17  Sunday         27.0       2.0      15    0.5     10

In [4]:
sns.relplot(x='x', y='y', col='dataset', data=df)
df.groupby("dataset").describe()

Did you mean:
Mode, Leinhardt, Mandel, WeldonDice, Diamond, coleman, pneumon, bladder