In [51]:
import pandas as pd
import numpy as np
import os
import env
import matplotlib.pyplot as plt
import seaborn as sns

# no yelling in the library
import warnings
warnings.filterwarnings("ignore")

from math import sqrt
import scipy.stats as stats

#import explore
#import acquire

1. Which lesson appears to attract the most traffic consistently across cohorts (per program)?
****

2. Is there a cohort that referred to a lesson significantly more than other cohorts seemed to gloss over?
****

In [173]:
#look at top lessons between cohorts per program. compare.

3. Are there students who, when active, hardly access the curriculum? If so, what information do you have about these students?
****

In [174]:
#look at user_id counts average. Look at time to see if you can eliminate those who dropped the program.

4. Is there any suspicious activity, such as users/machines/etc accessing the curriculum who shouldn’t be? Does it appear that any web-scraping is happening? Are there any suspicious IP addresses?
****

In [ ]:
#look into the access from 999 id. #look at ip address access over time.

5. At some point in 2019, the ability for students and alumni to access both curriculums (web dev to ds, ds to web dev) should have been shut off. Do you see any evidence of that happening? Did it happen before?
****

6. What topics are grads continuing to reference after graduation and into their jobs (for each program)?
****

In [175]:
#Check out end date for cohorts. Then look at what they are viewing.

7. Which lessons are least accessed?
****

8. Anything else I should be aware of?
****

In [61]:
#to be placed into acquire.py module
import pandas as pd
import numpy as np
import os
import env


def new_data():
    '''
    This function takes in a csv and a sql file, 
    converts nulls and datatype in key column 'cohort_id'
    conversion is to make merge run without error
    then merge the df's together
    returns a merged pandas dataframe with data from both files
    '''
    #read in csv
    #cohort = pd.read_csv('cohorts.csv')
    #read in sql
    url = f'mysql+pymysql://{env.user}:{env.password}@{env.host}/curriculum_logs'
    #df1 = pd.read_sql('SELECT * FROM logs', url)
    df = pd.read_sql('SELECT logs.date AS access_date, logs.time, logs.path, logs.user_id, logs.ip, logs.cohort_id, cohorts.name AS cohort_name, cohorts.start_date, cohorts.end_date, cohorts.program_id FROM logs LEFT JOIN cohorts ON logs.cohort_id = cohorts.id;', url)
    #fill in NaN values in 'cohort_id' with 999 as a numeric identifier
    df['cohort_id'] = df['cohort_id'].fillna(999)
    df['program_id'] = df['program_id'].fillna(999)
    #cast cohort_id as int type
    df['cohort_id'] = df['cohort_id'].astype(int)
    df['program_id'] = df['program_id'].astype(int)
    #merge dataframes together on cohort_id
    #df = pd.merge(df1, cohort, left_on='cohort_id', right_on='cohort_id', how='left')
    #convert date columns to datetime format
    df['access_date'] = pd.to_datetime(df['access_date'])
    df['start_date'] = pd.to_datetime(df['start_date'])
    df['end_date'] = pd.to_datetime(df['end_date'])
    
    return df

In [62]:
df = new_data()

In [63]:
df.head()

,access_date,time,path,user_id,ip,cohort_id,cohort_name,start_date,end_date,program_id
0,2018-01-26,09:55:03,/,1,97.105.19.61,8,Hampton,2015-09-22,2016-02-06,1
1,2018-01-26,09:56:02,java-ii,1,97.105.19.61,8,Hampton,2015-09-22,2016-02-06,1
2,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,97.105.19.61,8,Hampton,2015-09-22,2016-02-06,1
3,2018-01-26,09:56:06,slides/object_oriented_programming,1,97.105.19.61,8,Hampton,2015-09-22,2016-02-06,1
4,2018-01-26,09:56:24,javascript-i/conditionals,2,97.105.19.61,22,Teddy,2018-01-08,2018-05-17,2

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900223 entries, 0 to 900222
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   access_date  900223 non-null  datetime64[ns]
 1   time         900223 non-null  object
 2   path         900222 non-null  object
 3   user_id      900223 non-null  int64
 4   ip           900223 non-null  object
 5   cohort_id    900223 non-null  int64
 6   cohort_name  847330 non-null  object
 7   start_date   847330 non-null  datetime64[ns]
 8   end_date     847330 non-null  datetime64[ns]
 9   program_id   900223 non-null  int64
dtypes: datetime64[ns](3), int64(3), object(4)
memory usage: 68.7+ MB

In [6]:


#may need to take a look at program_id and change that datatype like you did with cohort_id.

#there are questions regarding program_id and path. That will give me an idea of what programs are and if the programs are viewing relevant curriculum

#users part of multiple names?

In [65]:
#df['time'] = pd.to_datetime(df['time'], format="%H%M%S")
df['time'] = pd.to_datetime(df['time'],format= '%H:%M:%S' ).dt.time

In [66]:
df.head(1)

,access_date,time,path,user_id,ip,cohort_id,cohort_name,start_date,end_date,program_id
0,2018-01-26,09:55:03,/,1,97.105.19.61,8,Hampton,2015-09-22,2016-02-06,1

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900223 entries, 0 to 900222
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   access_date  900223 non-null  datetime64[ns]
 1   time         900223 non-null  object
 2   path         900222 non-null  object
 3   user_id      900223 non-null  int64
 4   ip           900223 non-null  object
 5   cohort_id    900223 non-null  int64
 6   cohort_name  847330 non-null  object
 7   start_date   847330 non-null  datetime64[ns]
 8   end_date     847330 non-null  datetime64[ns]
 9   program_id   900223 non-null  int64
dtypes: datetime64[ns](3), int64(3), object(4)
memory usage: 68.7+ MB

In [68]:
df[(df.cohort_id != 999)].path.value_counts().head(20)

/                                                                            45854
javascript-i                                                                 18203
toc                                                                          17591
search/search_index.json                                                     17534
java-iii                                                                     13166
html-css                                                                     13127
java-ii                                                                      12177
spring                                                                       11883
jquery                                                                       11041
mysql                                                                        10611
java-i                                                                       10467
javascript-ii                                                                10294
appendix                                                                      8063
javascript-i/introduction/working-with-data-types-operators-and-variables     7326
mysql/tables                                                                  7101
javascript-i/functions                                                        7070
javascript-i/javascript-with-html                                             7049
html-css/elements                                                             6725
mysql/databases                                                               6654
java-iii/jsp-and-jstl                                                         6601
Name: path, dtype: int64

In [ ]:
## From the above list, it appears that the "javascript-i" is accessed the most. Is this just the first page of the Javascript curriculum and NOT a lesson?
## If you keep looking similar headings appear at the top: java-iii; html-css; java-ii, jquery, mysql, java-i, javascript-ii
## KEEP looking and there is a clue. Javascript-i/introduction/working-with-data-types-operators-and-variables looks to be the first LESSON in this top 20 list.

In [69]:
df[(df.cohort_id != 999) & (df.path == 'javascript-i/introduction/working-with-data-types-operators-and-variables')].cohort_id.value_counts()

135    505
33     423
58     382
62     362
29     356
24     330
138    329
32     327
52     319
134    315
53     295
31     294
51     292
28     285
25     283
23     276
56     270
57     257
26     241
132    237
22     176
61     173
27     173
139    146
1       71
17      65
14      57
21      36
7       24
18      11
8        9
13       4
11       1
19       1
16       1
Name: cohort_id, dtype: int64

## It appears that cohort 135 accessed the javascript-i intro: working with data types operators and variables more than any other cohort.
## Cohort 33 was #2., and Cohort 58 was #3.

***
## The top accessed chapter across all cohorts is "Javascript-i Into: Working with Data Types, Operators, and Variables".  It was most accessed by Cohort_id #135, Marco, starting in Jan 2021. The next highest access was from cohort_id 33, Ceres starting in July 2019. Third was cohort_id 58, Hyperion starting in May 2020.

In [70]:
df.loc[df['cohort_id'] == 135]

,access_date,time,path,user_id,ip,cohort_id,cohort_name,start_date,end_date,program_id
799198,2021-01-26,12:18:36,/,861,96.8.248.149,135,Marco,2021-01-25,2021-07-19,2
799199,2021-01-26,12:18:57,toc,861,96.8.248.149,135,Marco,2021-01-25,2021-07-19,2
799210,2021-01-26,12:20:54,/,862,70.94.167.166,135,Marco,2021-01-25,2021-07-19,2
799211,2021-01-26,12:20:56,/,863,47.234.188.230,135,Marco,2021-01-25,2021-07-19,2
799212,2021-01-26,12:20:56,/,864,74.76.254.34,135,Marco,2021-01-25,2021-07-19,2
...,...,...,...,...,...,...,...,...,...,...
900206,2021-04-21,16:33:58,javascript-i/bom-and-dom/bom,876,98.6.122.83,135,Marco,2021-01-25,2021-07-19,2
900208,2021-04-21,16:34:06,javascript-i/bom-and-dom/dom,876,98.6.122.83,135,Marco,2021-01-25,2021-07-19,2
900209,2021-04-21,16:35:44,javascript-i/bom-and-dom/dom-events,875,24.242.150.231,135,Marco,2021-01-25,2021-07-19,2
900210,2021-04-21,16:36:09,jquery/personal-site,869,136.50.98.51,135,Marco,2021-01-25,2021-07-19,2
900217,2021-04-21,16:41:51,javascript-i/bom-and-dom/dom,875,24.242.150.231,135,Marco,2021-01-25,2021-07-19,2

In [71]:
df.loc[df['cohort_id'] == 33]

,access_date,time,path,user_id,ip,cohort_id,cohort_name,start_date,end_date,program_id
299087,2019-07-15,15:39:34,/,433,97.105.19.58,33,Ceres,2019-07-15,2019-12-11,2
299088,2019-07-15,15:39:48,toc,433,97.105.19.58,33,Ceres,2019-07-15,2019-12-11,2
299089,2019-07-15,15:40:29,quiz,434,97.105.19.58,33,Ceres,2019-07-15,2019-12-11,2
299090,2019-07-15,15:40:33,/,434,97.105.19.58,33,Ceres,2019-07-15,2019-12-11,2
299091,2019-07-15,15:40:35,javascript-i,433,97.105.19.58,33,Ceres,2019-07-15,2019-12-11,2
...,...,...,...,...,...,...,...,...,...,...
874957,2021-04-04,20:12:54,java-i/introduction-to-java,434,76.198.205.14,33,Ceres,2019-07-15,2019-12-11,2
893207,2021-04-16,13:07:48,/,437,76.185.173.254,33,Ceres,2019-07-15,2019-12-11,2
893208,2021-04-16,13:07:51,javascript-ii,437,76.185.173.254,33,Ceres,2019-07-15,2019-12-11,2
893209,2021-04-16,13:07:51,javascript-i,437,76.185.173.254,33,Ceres,2019-07-15,2019-12-11,2
893210,2021-04-16,13:07:53,javascript-i/coffee-project,437,76.185.173.254,33,Ceres,2019-07-15,2019-12-11,2

In [72]:
df.loc[df['cohort_id'] == 58]

,access_date,time,path,user_id,ip,cohort_id,cohort_name,start_date,end_date,program_id
553304,2020-05-26,16:21:50,/,655,107.128.2.166,58,Hyperion,2020-05-26,2020-11-10,2
553345,2020-05-26,17:03:59,toc,655,107.128.2.166,58,Hyperion,2020-05-26,2020-11-10,2
553346,2020-05-26,17:04:28,html-css,655,107.128.2.166,58,Hyperion,2020-05-26,2020-11-10,2
553566,2020-05-27,00:31:09,/,655,162.194.247.205,58,Hyperion,2020-05-26,2020-11-10,2
553567,2020-05-27,00:31:24,/,655,162.194.247.205,58,Hyperion,2020-05-26,2020-11-10,2
...,...,...,...,...,...,...,...,...,...,...
899910,2021-04-21,12:57:18,mysql/introduction,655,107.128.2.166,58,Hyperion,2020-05-26,2020-11-10,2
899911,2021-04-21,12:57:40,mysql/users,655,107.128.2.166,58,Hyperion,2020-05-26,2020-11-10,2
899912,2021-04-21,12:58:19,mysql/databases,655,107.128.2.166,58,Hyperion,2020-05-26,2020-11-10,2
899913,2021-04-21,13:02:28,mysql/tables,655,107.128.2.166,58,Hyperion,2020-05-26,2020-11-10,2
899981,2021-04-21,13:38:32,/,662,70.120.6.177,58,Hyperion,2020-05-26,2020-11-10,2

***
***

## "Javascript-i" was the most accessed page- more than the TOC and more than the search tool.  This was likely the intro page to the Javascript-i Chapter.
## I'm curious if most students navigated here to the chapter page to then navigate further to the lesson they actually needed.

In [73]:
df[(df.cohort_id != 999) & (df.path == 'javascript-i')].cohort_id.value_counts()

28     1817
33     1003
62      926
58      910
135     907
29      897
51      896
24      884
53      785
57      760
26      722
32      717
134     676
56      669
132     631
22      615
25      560
23      526
31      516
52      506
27      452
61      374
1       294
138     272
14      233
21      202
139     136
17      128
18       69
8        36
16       23
13       17
7        11
34       10
11        7
19        6
15        6
6         2
12        1
2         1
Name: cohort_id, dtype: int64

## I notice that the top cohort for going to the Javascript-i page is NOT the same as those who navigated directly to the lesson on datatypes, operators, and variables.

In [ ]:
## The top cohorts for javascript-i are: 28, 33, 62

In [74]:
df.loc[df['cohort_id'] == 28]

,access_date,time,path,user_id,ip,cohort_id,cohort_name,start_date,end_date,program_id
166284,2018-12-06,14:15:29,appendix/further-reading/java/intellij-tomcat-...,53,97.105.19.58,28,Staff,2014-02-04,2014-02-04,2
166294,2018-12-06,14:25:40,javascript-i,314,97.105.19.58,28,Staff,2014-02-04,2014-02-04,2
166295,2018-12-06,14:25:41,javascript-i/coffee-project,314,97.105.19.58,28,Staff,2014-02-04,2014-02-04,2
166521,2018-12-06,15:31:29,spring,40,170.248.173.247,28,Staff,2014-02-04,2014-02-04,2
166522,2018-12-06,15:31:33,spring/fundamentals/security,40,170.248.173.247,28,Staff,2014-02-04,2014-02-04,2
...,...,...,...,...,...,...,...,...,...,...
900218,2021-04-21,16:41:51,jquery/personal-site,64,71.150.217.33,28,Staff,2014-02-04,2014-02-04,2
900219,2021-04-21,16:42:02,jquery/mapbox-api,64,71.150.217.33,28,Staff,2014-02-04,2014-02-04,2
900220,2021-04-21,16:42:09,jquery/ajax/weather-map,64,71.150.217.33,28,Staff,2014-02-04,2014-02-04,2
900221,2021-04-21,16:44:37,anomaly-detection/discrete-probabilistic-methods,744,24.160.137.86,28,Staff,2014-02-04,2014-02-04,2
900222,2021-04-21,16:44:39,jquery/mapbox-api,64,71.150.217.33,28,Staff,2014-02-04,2014-02-04,2

In [75]:
df.loc[df['cohort_id'] == 62]

,access_date,time,path,user_id,ip,cohort_id,cohort_name,start_date,end_date,program_id
676910,2020-09-21,14:20:32,/,748,99.151.201.25,62,Jupiter,2020-09-21,2021-03-30,2
676914,2020-09-21,14:20:40,javascript-i,748,99.151.201.25,62,Jupiter,2020-09-21,2021-03-30,2
676915,2020-09-21,14:20:49,/,749,70.94.132.38,62,Jupiter,2020-09-21,2021-03-30,2
676916,2020-09-21,14:20:53,/,750,45.20.118.158,62,Jupiter,2020-09-21,2021-03-30,2
676917,2020-09-21,14:20:58,toc,750,45.20.118.158,62,Jupiter,2020-09-21,2021-03-30,2
...,...,...,...,...,...,...,...,...,...,...
898832,2021-04-20,20:39:56,spring/setup,773,70.121.201.159,62,Jupiter,2020-09-21,2021-03-30,2
899408,2021-04-21,09:42:38,/,756,108.95.37.118,62,Jupiter,2020-09-21,2021-03-30,2
899409,2021-04-21,09:42:40,search/search_index.json,756,108.95.37.118,62,Jupiter,2020-09-21,2021-03-30,2
899410,2021-04-21,09:42:44,javascript-ii/RESTful-api,756,108.95.37.118,62,Jupiter,2020-09-21,2021-03-30,2
900192,2021-04-21,16:30:30,appendix,771,172.125.226.175,62,Jupiter,2020-09-21,2021-03-30,2

In [76]:
df.loc[df['cohort_id'] == 58]

,access_date,time,path,user_id,ip,cohort_id,cohort_name,start_date,end_date,program_id
553304,2020-05-26,16:21:50,/,655,107.128.2.166,58,Hyperion,2020-05-26,2020-11-10,2
553345,2020-05-26,17:03:59,toc,655,107.128.2.166,58,Hyperion,2020-05-26,2020-11-10,2
553346,2020-05-26,17:04:28,html-css,655,107.128.2.166,58,Hyperion,2020-05-26,2020-11-10,2
553566,2020-05-27,00:31:09,/,655,162.194.247.205,58,Hyperion,2020-05-26,2020-11-10,2
553567,2020-05-27,00:31:24,/,655,162.194.247.205,58,Hyperion,2020-05-26,2020-11-10,2
...,...,...,...,...,...,...,...,...,...,...
899910,2021-04-21,12:57:18,mysql/introduction,655,107.128.2.166,58,Hyperion,2020-05-26,2020-11-10,2
899911,2021-04-21,12:57:40,mysql/users,655,107.128.2.166,58,Hyperion,2020-05-26,2020-11-10,2
899912,2021-04-21,12:58:19,mysql/databases,655,107.128.2.166,58,Hyperion,2020-05-26,2020-11-10,2
899913,2021-04-21,13:02:28,mysql/tables,655,107.128.2.166,58,Hyperion,2020-05-26,2020-11-10,2
899981,2021-04-21,13:38:32,/,662,70.120.6.177,58,Hyperion,2020-05-26,2020-11-10,2

In [107]:
few_views = df[(df.cohort_id != 999 | 28)].path.value_counts()<=30

In [103]:
#class_23 = titanic[(titanic["Pclass"] == 2) | (titanic["Pclass"] == 3)]

In [108]:

def value_counts_and_frequencies(s: pd.Series, dropna=True) -> pd.DataFrame:
    return pd.merge(
        s.value_counts(dropna=False).rename('count'),
        s.value_counts(dropna=False, normalize=True).rename('proba'),
        left_index=True,
        right_index=True,
    )

In [111]:
path_df = value_counts_and_frequencies(df.path, dropna=True)

In [126]:
path_df[(path_df['count'] < 5)].head(50)

                                                    count     proba
bom-and-dom/bom                                         4  0.000004
css-i/flexbox/flexbox-in-practice                       4  0.000004
11.01.01_ConnectingToSpark.md                           4  0.000004
javascript-i/dom-events                                 4  0.000004
2.03.05_NormalityTests                                  4  0.000004
8-clustering/Zillow_Example                             4  0.000004
user-defined-functions.md                               4  0.000004
uploads/598dc43df39e2.jpg                               4  0.000004
sequel-pro                                              4  0.000004
1-fundamentals/1-intro-to-data-science                  4  0.000004
mapbox-api                                              4  0.000004
html-css/css-i/flexbox-in-practice                      4  0.000004
13.01.02.01_Prep                                        4  0.000004
8-clustering/dendogram_sample.jpeg                      4  0.000004
1-fundamentals/2.3-visualization                        4  0.000004
phpinfo                                                 4  0.000004
6.00_Intro.md                                           4  0.000004
content/mysql/clauses/where.html                        4  0.000004
11-distributed-ml/2-environment-setup                   4  0.000004
appendix/further-reading                                4  0.000004
find_me_curie!(12.3.19)                                 4  0.000004
content/examples/php/gitbook/images/favicon.ico         4  0.000004
python/type-annotations                                 4  0.000004
content/examples/html/gitbook/images/favicon.ico        4  0.000004
7-classification/svm                                    4  0.000004
content/appendix/code-standards/html-css.html           4  0.000004
jquery/weather-map                                      4  0.000004
9.4_Detecting_TimeSeries_Anomalies                      4  0.000004
jquery/keyboard-events                                  4  0.000004
MachineLearning_CheatSheet                              4  0.000004
content/appendix/further-reading/javascript/git...      4  0.000004
events/mouse-events                                     4  0.000004
classification/handling-missing-values                  4  0.000004
spring/fundementals/form-model-binding                  4  0.000004
10-nlp/project                                          4  0.000004
11-distributed-ml/8.1-classification                    4  0.000004
fundamentals/views                                      4  0.000004
classification/ensemble                                 4  0.000004
bayes-python-assessment-4586.html                       4  0.000004
python/matplotlib-styles                                4  0.000004
10-nlp/3-acquire                                        4  0.000004
clustering/dbscan                                       4  0.000004
5.0_Intro_Regression                                    4  0.000004
2.00.03_PrepareData_Excel                               4  0.000004
Stats_Assessment                                        4  0.000004
13.01.02.04_Prototype                                   4  0.000004
appendix/open_data/www.opensecrets.org                  4  0.000004
DataSets_GoogleAnalytics                                4  0.000004
10-nlp/pos-tagging                                      4  0.000004
5-regression/least-angle-regression                     4  0.000004

In [80]:
df[(df.cohort_id != 999 | 28) & (df.path == 'data-1')].cohort_id.value_counts()

25    1
Name: cohort_id, dtype: int64

In [81]:
df.loc[df['cohort_id'] == 25]

,access_date,time,path,user_id,ip,cohort_id,cohort_name,start_date,end_date,program_id
88887,2018-07-23,13:51:26,registerUser,218,97.105.19.58,25,Wrangell,2018-07-23,2018-11-29,2
88888,2018-07-23,13:51:39,registerUser,218,97.105.19.58,25,Wrangell,2018-07-23,2018-11-29,2
89002,2018-07-23,15:15:19,/,219,97.105.19.58,25,Wrangell,2018-07-23,2018-11-29,2
89003,2018-07-23,15:15:20,/,220,97.105.19.58,25,Wrangell,2018-07-23,2018-11-29,2
89004,2018-07-23,15:15:21,/,221,97.105.19.58,25,Wrangell,2018-07-23,2018-11-29,2
...,...,...,...,...,...,...,...,...,...,...
899904,2021-04-21,12:56:46,search/search_index.json,226,50.213.66.214,25,Wrangell,2018-07-23,2018-11-29,2
899905,2021-04-21,12:56:51,appendix/pair-programming,226,50.213.66.214,25,Wrangell,2018-07-23,2018-11-29,2
899906,2021-04-21,12:56:58,search/search_index.json,226,50.213.66.214,25,Wrangell,2018-07-23,2018-11-29,2
899907,2021-04-21,12:57:01,javascript-ii,226,50.213.66.214,25,Wrangell,2018-07-23,2018-11-29,2
899908,2021-04-21,12:57:05,javascript-ii/promises,226,50.213.66.214,25,Wrangell,2018-07-23,2018-11-29,2

In [78]:
#this is what Jacob was doing to find paths that had .extensions 
#df[df.path.str.contains(r'.', na=False, regex=False)].path.head(50)

10                              mkdocs/search_index.json
23                              mkdocs/search_index.json
25                              mkdocs/search_index.json
72                                            index.html
74     appendix/further-reading/javascript/hoisting.html
75     appendix/further-reading/javascript/hoisting.html
91               examples/javascript/defuse-the-bom.html
92     appendix/further-reading/javascript/hoisting.html
111                             mkdocs/search_index.json
119                examples/javascript/dom-query-js.html
125                             mkdocs/search_index.json
129    appendix/further-reading/javascript/hoisting.html
131    appendix/further-reading/javascript/hoisting.html
132    appendix/further-reading/javascript/hoisting.html
133    appendix/further-reading/javascript/hoisting.html
134    appendix/further-reading/javascript/hoisting.html
135    appendix/further-reading/javascript/hoisting.html
137                             mkdocs/search_index.json
138    appendix/further-reading/javascript/hoisting.html
148    appendix/further-reading/javascript/hoisting.html
182                             mkdocs/search_index.json
200                             mkdocs/search_index.json
201                 content/javascript/objects/math.html
202             content/laravel/quickstart/sessions.html
215                    examples/css/bootstrap-grids.html
219                             mkdocs/search_index.json
277                             mkdocs/search_index.json
314                             mkdocs/search_index.json
364                             mkdocs/search_index.json
392                             mkdocs/search_index.json
457                             mkdocs/search_index.json
583                    examples/css/bootstrap-grids.html
602              content/mysql/intro-to-mysql/users.html
604                       content/html-css/elements.html
605                          content/html-css/forms.html
667                             mkdocs/search_index.json
669                             mkdocs/search_index.json
672                   content/html-css/introduction.html
673                       content/html-css/elements.html
674                          content/html-css/forms.html
676               content/git/creating-a-repository.html
677           content/git/initializing-a-repository.html
678                        content/git/adding-files.html
679                          content/git/committing.html
680                 content/git/pushing-and-pulling.html
681                      content/git/gitignore-file.html
682                           content/git/branching.html
683                    content/git/working-in-teams.html
687                   content/html-css/introduction.html
688                       content/html-css/elements.html
Name: path, dtype: object

In [ ]:
# df = df[df.cohort_id.isin([33, 34, 51])]
# df.groupby('cohort_id').resample('D').size()
# there needs to be a datetime index
#this allows you to see anomaly over time with discrete variables.

#to subset data by columns: 
#df.groupby(['cohort_id'])['date','cohort', 'path']



#df[~ df.path.str.endswith('jpeg')]  #this code snippet may be helpful in getting rid of path strings that are not useful.
#Adam used this:
#df1 = df1[~df1.path.str.endswith('jpg')]
#df1 = df1[~df1.path.str.endswith('jpeg')]
#df1 = df1[~df1.path.str.endswith('svg')]
#df1 = df1[(df1.path != '/') & (df1.path != 'search/search_index.json')]

## Is there a cohort that referred to a lesson significantly more than other cohorts seemed to gloss over?

In [127]:
#groupby cohort, top paths
#compare that to other cohorts

df.head()

,access_date,time,path,user_id,ip,cohort_id,cohort_name,start_date,end_date,program_id
0,2018-01-26,09:55:03,/,1,97.105.19.61,8,Hampton,2015-09-22,2016-02-06,1
1,2018-01-26,09:56:02,java-ii,1,97.105.19.61,8,Hampton,2015-09-22,2016-02-06,1
2,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,97.105.19.61,8,Hampton,2015-09-22,2016-02-06,1
3,2018-01-26,09:56:06,slides/object_oriented_programming,1,97.105.19.61,8,Hampton,2015-09-22,2016-02-06,1
4,2018-01-26,09:56:24,javascript-i/conditionals,2,97.105.19.61,22,Teddy,2018-01-08,2018-05-17,2

In [137]:
df.cohort_name.value_counts()

Staff         84031
Ceres         40730
Zion          38096
Jupiter       37109
Fortuna       36902
Voyageurs     35636
Ganymede      33844
Apex          33568
Deimos        32888
Darden        32015
Teddy         30926
Hyperion      29855
Betelgeuse    29356
Ulysses       28534
Europa        28033
Xanadu        27749
Bayes         26538
Wrangell      25586
Andromeda     25359
Kalypso       23691
Curie         21582
Yosemite      20743
Bash          17713
Luna          16623
Marco         16397
Easley        14715
Lassen         9587
Arches         8890
Florence       8562
Sequoia        7444
Neptune        7276
Olympic        4954
Kings          2845
Pinnacles      2158
Hampton        1712
Oberon         1672
Quincy         1237
Niagara         755
Mammoth         691
Glacier         598
Joshua          302
Ike             253
Badlands         93
Franklin         72
Apollo            5
Denali            4
Everglades        1
Name: cohort_name, dtype: int64

In [138]:
df.program_id.value_counts()

2      713365
3      103412
999     52893
1       30548
4           5
Name: program_id, dtype: int64

In [ ]:
#from Zach, indirectly: 1: PHP Full Stack Web Dev; 2: Java Full Stack Web Dev; 3: Data Science; 4: Front End Web Development

#Top is Java with 713,365 views
#Number 2 is DS with 103,412 views
#Third place for views is PHP Full Stack, and Front End Web Dev has 5 views.

#DS Cohorts started with Ada but Ada is not here.

In [139]:
df[(df.program_id == 3)].cohort_name.value_counts()

Darden      32015
Bayes       26538
Curie       21582
Easley      14715
Florence     8562
Name: cohort_name, dtype: int64

In [ ]:
#Darden had the most views
#Florence had the least.

In [146]:
df[(df.cohort_name == 'Darden')].user_id.value_counts()

685    3522
698    2211
692    2081
691    1829
682    1596
689    1544
688    1516
699    1420
681    1270
678    1264
680    1260
696    1259
268    1212
695    1080
694    1035
690    1015
785     986
686     892
684     853
781     748
687     732
683     702
783     600
693     543
739     522
780     222
859      77
697      13
679      11
Name: user_id, dtype: int64

In [ ]:
#Top viewer in Darden was user 685 (3522 views).
#Darden had 29 students. (This does not mean that all 29 completed the course)

In [147]:
df[(df.cohort_name == 'Darden')].user_id.value_counts().mean()

1103.9655172413793

In [148]:
#The average number of views for Darden is 1103 views.

In [160]:
df[(df.cohort_name == 'Darden') & (df.path.str.contains('classification'))].value_counts()

access_date  time      path                                      user_id  ip              cohort_id  cohort_name  start_date  end_date    program_id
2020-09-19   17:33:10  classification/prep                       688      70.125.137.220  59         Darden       2020-07-13  2021-01-12  3             3
2020-09-18   16:11:48  classification/explore                    688      70.125.137.220  59         Darden       2020-07-13  2021-01-12  3             3
2020-10-06   20:16:21  7-classification/1-overview               685      99.76.233.212   59         Darden       2020-07-13  2021-01-12  3             3
2020-09-18   16:08:53  classification/explore                    688      70.125.137.220  59         Darden       2020-07-13  2021-01-12  3             3
2020-10-13   18:05:09  classification/scale_features_or_not.svg  685      99.76.233.212   59         Darden       2020-07-13  2021-01-12  3             2
                                                                                                                                                       ..
2020-09-19   19:36:52  classification/prep                       688      70.125.137.220  59         Darden       2020-07-13  2021-01-12  3             1
             19:36:48  classification/tidy-data                  688      70.125.137.220  59         Darden       2020-07-13  2021-01-12  3             1
             19:36:46  classification/evaluation                 688      70.125.137.220  59         Darden       2020-07-13  2021-01-12  3             1
             19:28:35  classification/logistic-regression        688      70.125.137.220  59         Darden       2020-07-13  2021-01-12  3             1
2021-04-21   15:20:18  classification/acquire                    692      96.8.130.134    59         Darden       2020-07-13  2021-01-12  3             1
Length: 5038, dtype: int64

In [ ]:
#Classification was looked at most.

In [164]:
df[(df.cohort_name == 'Darden')].path.value_counts()

/                                                              2980
classification/overview                                        1109
classification/scale_features_or_not.svg                        943
sql/mysql-overview                                              774
search/search_index.json                                        664
                                                               ...
appendix/interview-questions-students                             1
individual-project/individual-project                             1
appendix/professional-development/mock-behavioral-questions       1
4-python/custom-sorting-functions                                 1
git                                                               1
Name: path, Length: 420, dtype: int64

In [ ]:
#1)Classification overview; 2)Scale Features or Not; 3)My SQL Overview

In [165]:
df[(df.cohort_name == 'Bayes')].user_id.value_counts()

485    3268
475    2136
476    2075
479    2007
478    1659
482    1391
471    1380
469    1310
473    1254
466    1200
481    1108
358    1070
480    1047
484    1047
483     872
472     835
468     778
474     585
467     554
470     468
477     459
650      18
487      17
Name: user_id, dtype: int64

In [166]:
df[(df.cohort_name == 'Bayes')].user_id.value_counts().count()

23

In [167]:
df[(df.cohort_name == 'Bayes')].user_id.value_counts().mean()

1153.8260869565217

In [168]:
#Top viewer in Bayes was user 485. (3268 views)
#Bayes had 23 students. (This does not mean that all 23 completed the course)

In [170]:
df[(df.cohort_name == 'Bayes')].path.value_counts().head(20)

/                                                    1967
1-fundamentals/modern-data-scientist.jpg              650
1-fundamentals/AI-ML-DL-timeline.jpg                  648
1-fundamentals/1.1-intro-to-data-science              640
search/search_index.json                              588
6-regression/1-overview                               521
10-anomaly-detection/AnomalyDetectionCartoon.jpeg     387
10-anomaly-detection/1-overview                       384
6-regression/5.0-evaluate                             333
5-stats/3-probability-distributions                   320
5-stats/4.2-compare-means                             316
appendix/cli-git-overview                             311
6-regression/7.0-model                                310
6-regression/4.0-explore                              267
6-regression/3.0-split-and-scale                      260
7-classification/3-prep                               257
4-python/7.4.3-dataframes                             251
7-classification/project                              248
6-regression/6.0-feature-engineering                  245
7-classification/4-explore                            238
Name: path, dtype: int64

In [171]:
# fundamentals/1.1-intro-to-data-science most viewed lesson by Bayes.

In [178]:
print(df[(df.cohort_name == 'Curie')].user_id.value_counts())
print('Curie Cohort Users by how many Views')
print(df[(df.cohort_name == 'Easley')].user_id.value_counts())
print('Easley Cohort Users by how many Views')
print(df[(df.cohort_name == 'Florence')].user_id.value_counts())
print('Florence Cohort Users by how many Views')

581    3473
584    1623
590    1564
576    1524
580    1475
579    1360
582    1343
585    1305
586     983
617     966
589     923
578     855
591     807
575     700
616     677
588     647
587     576
583     471
577     268
746      21
787      21
Name: user_id, dtype: int64
Curie Cohort Users with Highest Views
845    1891
841    1414
844    1152
837    1131
840    1018
835     974
847     909
143     808
838     798
836     795
851     778
849     744
848     653
842     608
843     550
846     400
839      92
Name: user_id, dtype: int64
Easley Cohort Users with Highest Views
900    671
903    639
898    625
908    616
910    611
909    578
896    528
907    466
895    364
914    357
897    345
913    337
949    331
901    321
911    290
905    287
912    279
904    257
899    252
906    212
902    196
Name: user_id, dtype: int64
Florence Cohort Users with Highest Views

In [184]:
print(df[(df.cohort_name == 'Curie')].user_id.value_counts().count())
print(df[(df.cohort_name == 'Easley')].user_id.value_counts().count())
print(df[(df.cohort_name == 'Florence')].user_id.value_counts().count())

21
17
21

In [185]:
print(df[(df.cohort_name == 'Curie')].user_id.value_counts().mean())
print(df[(df.cohort_name == 'Easley')].user_id.value_counts().mean())
print(df[(df.cohort_name == 'Florence')].user_id.value_counts().mean())

1027.7142857142858
865.5882352941177
407.7142857142857

In [186]:
print(df[(df.cohort_name == 'Curie')].path.value_counts().head(20))
print(df[(df.cohort_name == 'Easley')].path.value_counts().head(20))
print(df[(df.cohort_name == 'Florence')].path.value_counts().head(20))

/                                                    1712
6-regression/1-overview                               595
search/search_index.json                              538
1-fundamentals/modern-data-scientist.jpg              467
1-fundamentals/AI-ML-DL-timeline.jpg                  465
1-fundamentals/1.1-intro-to-data-science              461
3-sql/1-mysql-overview                                441
10-anomaly-detection/1-overview                       345
10-anomaly-detection/AnomalyDetectionCartoon.jpeg     345
4-python/8.4.3-dataframes                             260
4-python/8.4.4-advanced-dataframes                    246
4-python/3-data-types-and-variables                   234
4-python/5-functions                                  206
5-stats/4.2-compare-means                             197
5-stats/2-simulation                                  194
appendix/cli-git-overview                             190
3-sql/7-functions                                     185
7-classification/6.1-logistic-regression              179
5-stats/3-probability-distributions                   174
4-python/8.4.2-series                                 168
Name: path, dtype: int64
/                                                                1115
classification/scale_features_or_not.svg                          463
classification/overview                                           445
classification/classical_programming_vs_machine_learning.jpeg     432
fundamentals/AI-ML-DL-timeline.jpg                                381
fundamentals/modern-data-scientist.jpg                            379
fundamentals/intro-to-data-science                                372
sql/mysql-overview                                                295
search/search_index.json                                          251
regression/model                                                  204
stats/compare-means                                               202
classification/explore                                            186
regression/project                                                184
classification/evaluation                                         176
python/advanced-dataframes                                        168
classification/decision-trees                                     159
classification/prep                                               156
storytelling/create                                               155
regression/evaluate                                               153
clustering/project                                                149
Name: path, dtype: int64
fundamentals/modern-data-scientist.jpg    627
fundamentals/AI-ML-DL-timeline.jpg        624
fundamentals/intro-to-data-science        615
/                                         584
python/data-types-and-variables           258
fundamentals/DataToAction_v2.jpg          208
sql/mysql-overview                        203
fundamentals/data-science-pipeline        189
sql/joins                                 186
sql/functions                             166
sql/mysql-introduction                    165
search/search_index.json                  162
sql/tables                                154
python/control-structures                 152
sql/basic-statements                      151
fundamentals/git                          150
sql/group-by                              150
sql/databases                             149
python/functions                          137
python/introduction-to-python             127
Name: path, dtype: int64

In [ ]:
#Sql- Mysql overview is in the top 5 viewed paths of all data science cohorts except Bayes (which it wasn't in even the top 20)