In [10]:
import pandas as pd
import numpy as np
import os
import env
import matplotlib.pyplot as plt
import seaborn as sns

# no yelling in the library
import warnings
warnings.filterwarnings("ignore")

from math import sqrt
import scipy.stats as stats

#import explore
#import acquire

1. Which lesson appears to attract the most traffic consistently across cohorts (per program)?
****

2. Is there a cohort that referred to a lesson significantly more than other cohorts seemed to gloss over?
****

3. Are there students who, when active, hardly access the curriculum? If so, what information do you have about these students?
****

4. Is there any suspicious activity, such as users/machines/etc accessing the curriculum who shouldnâ€™t be? Does it appear that any web-scraping is happening? Are there any suspicious IP addresses?
****

5. At some point in 2019, the ability for students and alumni to access both curriculums (web dev to ds, ds to web dev) should have been shut off. Do you see any evidence of that happening? Did it happen before?
****

6. What topics are grads continuing to reference after graduation and into their jobs (for each program)?
****

7. Which lessons are least accessed?
****

8. Anything else I should be aware of?
****

In [1]:
#to be placed into acquire.py module
import pandas as pd
import numpy as np
import os
import env


def new_data():
    '''
    This function takes in a csv and a sql file, 
    converts nulls and datatype in key column 'cohort_id'
    conversion is to make merge run without error
    then merge the df's together
    returns a merged pandas dataframe with data from both files
    '''
    #read in csv
    cohort = pd.read_csv('cohorts.csv')
    #read in sql
    url = f'mysql+pymysql://{env.user}:{env.password}@{env.host}/curriculum_logs'
    df1 = pd.read_sql('SELECT * FROM logs', url)
    #fill in NaN values in 'cohort_id' with 999 as a numeric identifier
    df1['cohort_id'] = df1['cohort_id'].fillna(999)
    #cast cohort_id as int type
    df1['cohort_id'] = df1['cohort_id'].astype(int)
    #merge dataframes together on cohort_id
    df = pd.merge(df1, cohort, left_on='cohort_id', right_on='cohort_id', how='left')
            
    return df

In [3]:
df = new_data()

In [4]:
df.head()

,date,time,path,user_id,cohort_id,ip,name,start_date,end_date,program_id
0,2018-01-26,09:55:03,/,1,8,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0
1,2018-01-26,09:56:02,java-ii,1,8,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0
2,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0
3,2018-01-26,09:56:06,slides/object_oriented_programming,1,8,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0
4,2018-01-26,09:56:24,javascript-i/conditionals,2,22,97.105.19.61,Teddy,2018-01-08,2018-05-17,2.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 900223 entries, 0 to 900222
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   date        900223 non-null  object
 1   time        900223 non-null  object
 2   path        900222 non-null  object
 3   user_id     900223 non-null  int64
 4   cohort_id   900223 non-null  int64
 5   ip          900223 non-null  object
 6   name        782085 non-null  object
 7   start_date  782085 non-null  object
 8   end_date    782085 non-null  object
 9   program_id  782085 non-null  float64
dtypes: float64(1), int64(2), object(7)
memory usage: 75.5+ MB

In [ ]:
#convert date and time columns to be date and time formats.

#may need to take a look at program_id and change that datatype like you did with cohort_id.

#there are questions regarding program_id and path. That will give me an idea of what programs are and if the programs are viewing relevant curriculum