In [10]:
import pandas as pd
import numpy as np
import os
import env
import matplotlib.pyplot as plt
import seaborn as sns

# no yelling in the library
import warnings
warnings.filterwarnings("ignore")

from math import sqrt
import scipy.stats as stats

#import explore
#import acquire

1. Which lesson appears to attract the most traffic consistently across cohorts (per program)?
****

2. Is there a cohort that referred to a lesson significantly more than other cohorts seemed to gloss over?
****

3. Are there students who, when active, hardly access the curriculum? If so, what information do you have about these students?
****

4. Is there any suspicious activity, such as users/machines/etc accessing the curriculum who shouldn’t be? Does it appear that any web-scraping is happening? Are there any suspicious IP addresses?
****

5. At some point in 2019, the ability for students and alumni to access both curriculums (web dev to ds, ds to web dev) should have been shut off. Do you see any evidence of that happening? Did it happen before?
****

6. What topics are grads continuing to reference after graduation and into their jobs (for each program)?
****

7. Which lessons are least accessed?
****

8. Anything else I should be aware of?
****

In [9]:
#to be placed into acquire.py module
import pandas as pd
import numpy as np
import os
import env


def new_data():
    '''
    This function takes in a csv and a sql file, 
    converts nulls and datatype in key column 'cohort_id'
    conversion is to make merge run without error
    then merge the df's together
    returns a merged pandas dataframe with data from both files
    '''
    #read in csv
    cohort = pd.read_csv('cohorts.csv')
    #read in sql
    url = f'mysql+pymysql://{env.user}:{env.password}@{env.host}/curriculum_logs'
    df1 = pd.read_sql('SELECT * FROM logs', url)
    #fill in NaN values in 'cohort_id' with 999 as a numeric identifier
    df1['cohort_id'] = df1['cohort_id'].fillna(999)
    #cast cohort_id as int type
    df1['cohort_id'] = df1['cohort_id'].astype(int)
    #merge dataframes together on cohort_id
    df = pd.merge(df1, cohort, left_on='cohort_id', right_on='cohort_id', how='left')
    #convert date columns to datetime format
    df['date'] = pd.to_datetime(df['date'])
    df['start_date'] = pd.to_datetime(df['start_date'])
    df['end_date'] = pd.to_datetime(df['end_date'])
    
    return df

In [17]:
df = new_data()

In [18]:
df.head()

,date,time,path,user_id,cohort_id,ip,name,start_date,end_date,program_id
0,2018-01-26,09:55:03,/,1,8,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0
1,2018-01-26,09:56:02,java-ii,1,8,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0
2,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0
3,2018-01-26,09:56:06,slides/object_oriented_programming,1,8,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0
4,2018-01-26,09:56:24,javascript-i/conditionals,2,22,97.105.19.61,Teddy,2018-01-08,2018-05-17,2.0

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 900223 entries, 0 to 900222
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   date        900223 non-null  datetime64[ns]
 1   time        900223 non-null  object
 2   path        900222 non-null  object
 3   user_id     900223 non-null  int64
 4   cohort_id   900223 non-null  int64
 5   ip          900223 non-null  object
 6   name        782085 non-null  object
 7   start_date  782085 non-null  datetime64[ns]
 8   end_date    782085 non-null  datetime64[ns]
 9   program_id  782085 non-null  float64
dtypes: datetime64[ns](3), float64(1), int64(2), object(4)
memory usage: 75.5+ MB

In [6]:
#convert date and time columns to be date and time formats.

#may need to take a look at program_id and change that datatype like you did with cohort_id.

#there are questions regarding program_id and path. That will give me an idea of what programs are and if the programs are viewing relevant curriculum

#users part of multiple names?

In [21]:
#df['time'] = pd.to_datetime(df['time'], format="%H%M%S")

In [22]:
df.head(1)

,date,time,path,user_id,cohort_id,ip,name,start_date,end_date,program_id
0,2018-01-26,09:55:03,/,1,8,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0

In [40]:
df[(df.cohort_id != 999)].path.value_counts().head(20)

/                                                                            45854
javascript-i                                                                 18203
toc                                                                          17591
search/search_index.json                                                     17534
java-iii                                                                     13166
html-css                                                                     13127
java-ii                                                                      12177
spring                                                                       11883
jquery                                                                       11041
mysql                                                                        10611
java-i                                                                       10467
javascript-ii                                                                10294
appendix                                                                      8063
javascript-i/introduction/working-with-data-types-operators-and-variables     7326
mysql/tables                                                                  7101
javascript-i/functions                                                        7070
javascript-i/javascript-with-html                                             7049
html-css/elements                                                             6725
mysql/databases                                                               6654
java-iii/jsp-and-jstl                                                         6601
Name: path, dtype: int64

In [43]:
df[(df.cohort_id != 999) & (df.path == 'javascript-i/introduction/working-with-data-types-operators-and-variables')].cohort_id.value_counts()

135    505
33     423
58     382
62     362
29     356
24     330
138    329
32     327
52     319
134    315
53     295
31     294
51     292
28     285
25     283
23     276
56     270
57     257
26     241
132    237
22     176
61     173
27     173
139    146
1       71
17      65
14      57
21      36
7       24
18      11
8        9
13       4
11       1
19       1
16       1
Name: cohort_id, dtype: int64

## It appears that cohort 135 accessed the javascript-i intro: working with data types operators and variables more than any other cohort.
## Cohort 33 was #2., and Cohort 58 was #3.

***
## The top accessed chapter across all cohorts is "Javascript-i Into: Working with Data Types, Operators, and Variables".  It was most accessed by Cohort_id #135.  But cohort_135 is not a named cohort.  The next highest access was from Ceres. Program id 2: started in July 2019 ending in December 2019.

In [48]:
df.loc[df['cohort_id'] == 33]

,date,time,path,user_id,cohort_id,ip,name,start_date,end_date,program_id
299087,2019-07-15,15:39:34,/,433,33,97.105.19.58,Ceres,2019-07-15,2019-12-11,2.0
299088,2019-07-15,15:39:48,toc,433,33,97.105.19.58,Ceres,2019-07-15,2019-12-11,2.0
299089,2019-07-15,15:40:29,quiz,434,33,97.105.19.58,Ceres,2019-07-15,2019-12-11,2.0
299090,2019-07-15,15:40:33,/,434,33,97.105.19.58,Ceres,2019-07-15,2019-12-11,2.0
299091,2019-07-15,15:40:35,javascript-i,433,33,97.105.19.58,Ceres,2019-07-15,2019-12-11,2.0
...,...,...,...,...,...,...,...,...,...,...
874957,2021-04-04,20:12:54,java-i/introduction-to-java,434,33,76.198.205.14,Ceres,2019-07-15,2019-12-11,2.0
893207,2021-04-16,13:07:48,/,437,33,76.185.173.254,Ceres,2019-07-15,2019-12-11,2.0
893208,2021-04-16,13:07:51,javascript-ii,437,33,76.185.173.254,Ceres,2019-07-15,2019-12-11,2.0
893209,2021-04-16,13:07:51,javascript-i,437,33,76.185.173.254,Ceres,2019-07-15,2019-12-11,2.0
893210,2021-04-16,13:07:53,javascript-i/coffee-project,437,33,76.185.173.254,Ceres,2019-07-15,2019-12-11,2.0

In [49]:
df.loc[df['cohort_id'] == 135]

,date,time,path,user_id,cohort_id,ip,name,start_date,end_date,program_id
799198,2021-01-26,12:18:36,/,861,135,96.8.248.149,NaN,NaT,NaT,NaN
799199,2021-01-26,12:18:57,toc,861,135,96.8.248.149,NaN,NaT,NaT,NaN
799210,2021-01-26,12:20:54,/,862,135,70.94.167.166,NaN,NaT,NaT,NaN
799211,2021-01-26,12:20:56,/,863,135,47.234.188.230,NaN,NaT,NaT,NaN
799212,2021-01-26,12:20:56,/,864,135,74.76.254.34,NaN,NaT,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...
900206,2021-04-21,16:33:58,javascript-i/bom-and-dom/bom,876,135,98.6.122.83,NaN,NaT,NaT,NaN
900208,2021-04-21,16:34:06,javascript-i/bom-and-dom/dom,876,135,98.6.122.83,NaN,NaT,NaT,NaN
900209,2021-04-21,16:35:44,javascript-i/bom-and-dom/dom-events,875,135,24.242.150.231,NaN,NaT,NaT,NaN
900210,2021-04-21,16:36:09,jquery/personal-site,869,135,136.50.98.51,NaN,NaT,NaT,NaN
900217,2021-04-21,16:41:51,javascript-i/bom-and-dom/dom,875,135,24.242.150.231,NaN,NaT,NaT,NaN

In [50]:
cohort.head()

NameError: name 'cohort' is not defined

In [ ]:
# df = df[df.cohort_id.isin([33, 34, 51])]
# df.groupby('cohort_id').resample('D').size()
# there needs to be a datetime index
#this allows you to see anomaly over time with discrete variables.

#to subset data by columns: 
#df.groupby(['cohort_id'])['date','cohort', 'path']



#df[~ df.path.str.endswith('jpeg')]  #this code snippet may be helpful in getting rid of path strings that are not useful.